* {
    padding: 0%;
    margin: 0%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 2px 20px gray;
    background-color: white;
}

.navbar .logo {
    margin-left: 60px;
}

.navbar .elements {
    display: flex;
    gap: 30px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 20px;

    .li a{
        cursor: pointer;
        color: rgb(74, 72, 72);
        text-decoration: none;
    }
}

.navbar .elements .li:hover {
    border-bottom: 3px solid orange;
    color: black;

}

.enquiry button {
    border-radius: 40px;
    padding: 8px 20px;
    color: white;
    background-color: rgb(2, 45, 64);
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 100px;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}

.enquiry button:hover {
    color: black;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(2, 45, 64);


}

.conclusion{
    display: flex;
   gap: 80px;
    justify-content: space-around;
    margin-top: 500px;
    height: 430px;
    background-color: rgb(2, 45, 64);
    i{
        color:rgb(185, 118, 78) ;
    }
    .about_us{
        margin-top: 65px;
        width: 330px;
        margin-left: 80px;
        color: white;
        h2{
            font-weight: 500;
            margin-bottom: 40px;
        }
        p{
            font-size: 15px;
        }
        hr{
            border-width: 1.5px;
            width: 65px;
            border-color: white;
            margin-bottom: 40px;
        }
    }
    .location{
        margin-top: 65px;
        width: 240px;
        color: white;
        i{
            margin-right: 10px;
        }
        h2{
            font-weight: 500;
            margin-bottom: 40px;
        }
        p{
            font-size: 15px;
            margin-bottom: 10px;
        }
        hr{
            border-width: 1.5px;
            width: 65px;
            border-color: white;
            margin-bottom: 40px;
        }
    }
    .office_hours{
        margin-top: 65px;
        color: white;
        h2{
            font-weight: 500;
            margin-bottom: 40px;
        }
        p{
            font-size: 15px;
            i{
                margin-right: 10px;
            }
        }
        hr{
            border-width: 1.5px;
            width: 65px;
            border-color: white;
            margin-bottom: 40px; 

        }

    }
    .map{
        margin-top: 65px;
        color: white;
        margin-right: 80px;
        h2{
            font-weight: 500;
            margin-bottom: 40px;
        }
        hr{
            border-width: 1.5px;
            width: 65px;
            border-color: white;
            margin-bottom: 40px; 
        }
    }
}
.image2{
    position: absolute;
    top: 500px;
        right: 650px;
    img{
        width: 130px;
        height: 130px;
        
    }
}
.copy_right{
    background-color: rgb(40, 40, 40);
    p{
        padding: 20px 0px;
        color: white;
        margin-left: 80px;
        font-size: 15px;
    }
}
